:root,
body.light {
  --primary: #4355b9;
  --on-primary: #ffffff;
  --primary-container: #dde0ff;
  --on-primary-container: #000d61;
  --secondary: #5b5d71;
  --on-secondary: #ffffff;
  --secondary-container: #e0e1fa;
  --on-secondary-container: #171a2c;
  --tertiary: #77536d;
  --on-tertiary: #ffffff;
  --tertiary-container: #ffd7f3;
  --on-tertiary-container: #2d1228;
  --error: #ba1b1b;
  --error-container: #ffdad4;
  --on-error: #ffffff;
  --on-error-container: #410001;
  --background: #ffffff;
  --on-background: #1b1b1f;
  --surface: #ffffff;
  --on-surface: #1b1b1f;
  --surface-variant: #e3e1ec;
  --on-surface-variant: #46464f;
  --outline: #767680;
  --inverse-on-surface: #f3f0f5;
  --inverse-surface: #303034;
  --inverse-primary: #b9c3ff;
  --shadow: #000000;
  --font: Roboto
}

body {
  font-family: var(--font), sans-serif;
}